extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Nicholas Dominguez

        p.lead.text-light
          | Civic Tech Web Developer

        p.portfolio-bio
            | I am at an exciting turning point in my career. Having transitioned into web development after completing two coding bootcamps in both Front End and Full Stack Web Development I am looking to build my career in the Civic Technology Industry. I have an education in City and Regional Planning, served in the U.S. Peace Corps and spent my early career as a front-line municipal employee. I believe that that my experience working in the public sector and my devotion to building a better society is well suited for a career in civic tech. My dream role is to build web applications which seek to improve the way governments function or enhance how people interact with their cities. 

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li REST API
          li JavaScript
          li Pug
          li CSS3
          li Sass
          li JQuery
          li Node.js
          li JSON
          li Git
          li React
        h6 Contact Info

        ul
          li 925-596-0084
          li nic.l.dominguez@gmail.com

        a.button.expanded.round(href='https://www.linkedin.com/in/nicdominguez/') LinkedIn
        a.button.expanded.round(href='https://github.com/NicDominguez') GitHub
        a.button.expanded.round(href='https://twitter.com/NicDominguez') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  