extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Nicholas Dominguez

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | I spent the begining of my career working in the public sector and seeing the hardship and ineffciences caused by inadaquate software. I became an avid technologist and now I have built the knowledge and skills to create the applications I always wished existed.
            | I love building user friendly super functional applications that help others do their work easier and get more accomplished. If you need someone who loves to see web applicaitons be as useful as possible I want to help make that come true.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li REST API
          li JavaScript
          li Pug
          li CSS3
          li Sass
          li JQuery
          li Node.js
          li JSON
          li Git
          li React
        h6 Contact Info

        ul
          li 925-596-0084
          li nic.l.dominguez@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/nicdominguez/') LinkedIn
        a.button.expanded(href='https://github.com/NicDominguez') GitHub
        a.button.expanded(href='https://twitter.com/NicDominguez') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  