extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 Web Development Portfolio

      p.lead.text-light
        | After a year long endevour to complete two tech degree programs, this is my portfolio. Projects presented here use numerous front-end and sever-side technologies. You can find descriptions of each project on the individual project pages and view the repository to get a better look at the underlying code.
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project in projects
        .cell.poster
          a.poster-img(href=`/project/${project.id}`)
            img.thumbnail(src=project.image_urls[0])
            h5= project.project_name
      

      
