<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Nic Dominguez Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            img.thumbnail(src='/static/images/profile_pic.jpg')
          .cell.auto.sidebar-text

            h5 Nicholas Dominguez

            p.text-light
              | What can I say, I am your friendly neighborhood web developer. I love to make apps that help others do their work easier and maybe one day I will become a Jedi like my father before me. 

            a(href='../about') Learn More →

            ul.social-links.round
              li
                a.icon(href="https://twitter.com/NicDominguez")
                  img(src="/static/images/svg/twitter_icon.svg")
              li
                a.icon(href="https://github.com/NicDominguez")
                  img(src="/static/images/svg/github_icon.svg")
              li
                a.icon(href="https://www.linkedin.com/in/nicdominguez/")
                  img(src="/static/images/svg/linkedin_icon.svg")

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')

          span.title-bar-title Nicholas Dominguez
      block content
        

      
  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')

